<div class="container  deep-orange accent-1">
    <div class="jumbotron yellow darken-4">
        <h1 style="text-shadow: 2px 2px gray; color:white" class="jumbotronic">Me want da Burger!</h1>
        <h6 style=" text-shadow: 1px 1px gray; color:#black">Track your Burger Order and Devour it fresh!!!!</h6>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card-panel" style="width: 20rem;">
                <div class="card-body">
                    <h5>Burgers waiting to be devoured!</h5><br>
                    <ul>
                        {{#each burgers}}
                        {{#if this.devoured}}
                        {{else}}
                        <li>
                            <p> {{this.id}} ) {{this.burger_name}}
                                <button data-id="{{this.id}}" class="delBurger">Devour it!</button>
                            </p>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <img src="https://image.freepik.com/free-vector/cute-panda-eating-burger-cartoon-vector-illustration-animal-food-concept-isolated-vector-flat-cartoon-style_138676-1936.jpg"
                    href="#" alt="hamburger" width="300" height="300">
            </div>
            <div class="row">
                <form class="create-form">
                    <div class="form-group">
                        <textarea style="color:black" placeholder="Enter a burger you want to devour" id="burger"
                            name="burger" rows="8" cols="30"></textarea>
                    </div>
                    <button type="submit"> Submit</button>
                </form>
            </div>
            <div class="row">
                <p>Enter a burger you want to add to the devour list and Click the "Submit" button...</p>
            </div>
        </div>
        <div class="col-lg-4">
            <ul>
                <div class="card-panel" style="width: 20rem;">
                    <div class="card-body">
                        <h5>Devoured... Burp!</h5><br>
                        <ul>
                            {{#each burgers}}
                            {{#if this.devoured}}
                            <li>
                                <p> {{this.id}} ) {{this.burger_name}}
                                    <button data-id="{{this.id}}" class="delDevoure">Delete</button>
                                </p>
                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>